// Стили для кнопки переключения меню
.navbar-toggler {
  background-color: $color-white;
  border: none;
  padding: $spacing-xs;
  @include fixed-position(15px, 15px, auto, auto, $z-index-toggler);
  cursor: pointer;
  @include size(40px);
  @include flex(row, center, center);
  outline: none;
  
  &::before {
    display: none;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23062D24' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  transition: all 0.2s ease;
  width: 24px;
  height: 24px;
}

// Стили для кнопки navbar-toggler при открытом меню
body.menu-open {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23062D24' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M6 6L24 24M6 24L24 6'/%3e%3c/svg%3e") !important;
  }
  
  .navbar-toggler {
    background-color: $color-white;
  }
} 